.comments {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.comments .cmtTop {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.comments .cmtBottom p {
  color: var(--text-color);
}
