@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --bg-color: #1a1b1c;
  --main-color: #4cf45d;
  --sub-color: #939eae;
  --text-color: #e9ecf0;
  --box-color: rgba(0, 0, 0, 0.15);
  --box-hover-color: rgba(0, 0, 0, 0.35);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

small {
  color: var(--sub-color);
}

small span {
  color: var(--main-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
