.newsItemContainer {
  height: calc(100vh - 25vh);
  display: flex;
  flex-direction: column;
}

.newsBox {
  background: var(--box-color);
  min-height: 105px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  overflow-y: auto;
}

.newsBox p {
  padding: 1rem 0;
  color: var(--text-color);
}

.newsBox .top h3 {
  color: var(--main-color);
}

.newsBox .bottom {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  width: fit-content;
}

.newsBox .bottom .link {
  align-self: center;
  cursor: pointer;
}

.newsBox .bottom .link:hover {
  color: var(--main-color);
}

.commentsContainer {
  width: auto;
  background: var(--box-color);
  padding: 0 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 500px) {
  .newsItemContainer {
    gap: 0.2rem;
  }
  .newsBox {
    min-height: 125px;
    background: var(--box-color);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .commentsContainer {
    margin: 0;
  }
}
